*{
     padding: 0;
     margin: 0px;
     scroll-behavior: smooth;
     scrollbar-base-color: #1f456e;
     scroll-behavior: smooth;
     
     /* background-color: cyan; */
}
 
#couniversal{
     background-color:  #1BA098 ;
     height: 240vh;
     width: auto;
     margin: 0px auto;
     padding-top: 25px;
     margin-top: 75px;

}

.navbars{
     display: flex;
     background-color: #1f456e ;
     width: 100%;
     height: 75px;
     color: white;
     /* border: 2px solid red; */
     /* z-index: -5; */
     top: 0; 
     position: fixed;
     overflow: hidden;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.7);
}
.navbars a{
     color: white;

}
.left{
     display: flex;
     margin-left: 20px;
}
.left img{
     height: 40px;
     width: 40px;
     margin:  15px 0px 0px 0px;
     filter: invert(100%);
}
.left p{
     margin: auto 0;
     font-weight: bold;
     font-size: 1.8rem;
     color: rgb(13, 146, 223);
}
.mid{
      margin: auto 0px;
      /* border: 2px solid black; */
      margin-left: 50px;
      margin: 20px
}
.mid ul{
     display: flex;
     list-style: none;
     text-decoration: none;
     margin: auto;
     font-family: 'Titillium Web', sans-serif;
     
    
}
.mid ul li a{
     text-decoration: none;
     padding: 18px 30px;
     font-size: 1.3rem;
     margin: 2px;
}
nav ul li a.active,
nav ul li a:hover{
     background-color: #1BA098;
     color: #1f456e ;
     font-weight: bold;
     transition: 0.2s;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
     border-radius: 4px;
     border: 0px;
}
/* nav ul li a:visited{
     background-color:purple;
} */
a.new:visited{
     /* background-color: green; */
     color: mediumorchid;
     
}

.right{
     display: flex;
     margin: auto  ;
     margin-right: 40px;
     /* border: 2px solid black; */
}
.right a{
     display: flex;
     text-decoration: none;
     font-size: 1.1rem;
     font-family: 'Titillium Web', sans-serif;
     margin: 0px 10px 10px 0px;
     margin-top: 18px;
     text-decoration: none;
}
.right #icon{
     /* border: 2px solid black; */
     margin-bottom: 5px;
     margin-left: 8px;
     /* padding-top: 3px; */
     text-decoration: none;
}
.right a:hover{
     color: #1BA098;
     font-weight: bold;
     transition: 0.2s;
     text-decoration: none;

     
}
 
/* hr */
hr{
     width: 85vw;
     opacity: 0.8;
     margin: 0 auto;
     margin-bottom: 20px;

}
hr .h2{
     opacity: 0.8;
     width: 65vw;
     margin: 0 auto;
}
.banner{
     border: 0px solid #1f456e;
     border-radius: 4px;
     width: 92vw;
     height: 150px;
     margin: auto;
     background-color: white;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
     /* background: center/cover no-repeat url("/public/static/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg"); */

     
}
.banner p{
     /* background: center / center no-repeat; */
     font-size: 4.0rem;
     font-family: 'Prociono', serif;
     margin: auto;
     text-align: center;
     justify-items: center;
     margin-top: 20px;
     color:#1f456e ;
   
      
}
/* body container containing blog post,search bar,recent posts, social media and ads. */
#bodycontent{
     display: flex;
    
     
}
.blogpost{
     border: 0px solid #1f456e;
     border-radius: 4px;
     height: 190vh;
     width: 65vw;
     margin:25px 25px;
     padding: 30px 50px;
     background-color: #fffff0;
     margin-left: 55px;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);

}
.blogpost h2{
     /* text-align: center; */
     font-size: 2.4rem;
     margin: 20px 20px;
     font-family: 'Prociono', serif;
     color: #1f456e

}
#h2{
     width: 85%;
     color: #fffff0;
     opacity: 0.8;
}
.blogpost img{
     height: 300px;
     width: 85%;
     margin-left: 30px;
     margin-bottom: 30px;
}
.blogpost h3{
     font-size: 1.4rem;
     margin: 20px 0px;
     font-family: 'Ubuntu', sans-serif;
     color: #1f456e
}
.blogpost p{
     font-size: 18px;
     line-height: 27px;
     text-align: justify;
     font-family: 'Baloo Bhai 2', cursive;
     /* color: #1BA098
      */
}
.blogpost ul {
     font-size: 1.5rem;
     margin-top: 20px;
     margin-left: 30px;
     font-family: 'Baloo Bhai 2', cursive;
}
.aside{
     /* border: 2px solid black; */
     height: 80vh;
     width: 30vw;
     margin:20px 0px;
     margin-left: 0px;
     

}
/* search bar and recent post */
.searchbar{
     border: 0px solid #1f456e;
     border-radius: 4px;
     height:70vh;
     width: 26vw;
     margin: 10px 0px ;
     display: flex;
     flex-direction: column;
     background-color: white;
     padding-bottom: 10px;
     padding-left: 25px;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);




}
.searchbar .btn{
      /* margin-top: 20px; */
      height: 50px;
      padding-bottom: 5px;
      background: transparent;
      border: 2px solid black;
}
/* _____________________________________________________ */

#myInput {
     background-image: url('/css/searchicon.png'); /* Add a search icon to input */
     background-position: 10px 12px; /* Position the search icon */
     background-repeat: no-repeat; /* Do not repeat the icon image */
     width: 70%; /* Full-width */
     font-size: 16px; /* Increase font-size */
     padding: 0px 20px 0px 40px; /* Add some padding */
     border: 1px solid #ddd; /* Add a grey border */
     margin-bottom: 12px; /* Add some space below the input */
     
   }
   
   #myUL {
     /* Remove default list styling */
     list-style-type: none;
     padding: 0;
     margin: 0px 10px;
     width: 80%;
     display: inline-block;
     /* position: absolute; */
     /* justify-content: start; */
     align-items: center;
     align-content: center;
     justify-content: center;
   }
   #myUL li{
        margin: 5px;
   }
   
   #myUL li a {
     border: 1px solid #ddd; /* Add a border to all links */
     margin-top: -1px; /* Prevent double borders */
     background-color: #f6f6f6; /* Grey background color */
     padding: 12px; /* Add some padding */
     text-decoration: none; /* Remove default text underline */
     font-size: 18px; /* Increase the font-size */
     color: black; /* Add a black text color */
     display: block; /* Make it into a block element to fill the whole list */
   }
   
   #myUL li a:hover:not(.header) {
     background-color: #eee; /* Add a hover effect to all links, except for headers */
   }

/* __________________________________________________________ */

.searchbar p{
     font-size: 2.0rem;
     margin: 20px 10px;
     margin-bottom: 10px;
     font-family: 'Titillium Web', sans-serif;
     color: #1f456e;
}
.searchbar input{
     width: 75%;
     height: 47px;
     margin-left: 10px;
     /* border-radius: 6px; */
     outline: none;
     font-size: 1.3rem;
     /* background-color: #fffff0; */
     padding: 0px 13px;
     background-color: transparent;
     border: 1px solid #1f456e;
     border-right: none;
     color: #1f456e;
     /* border-radius: 6px, none; */
     margin-bottom: 195px;
     padding-top: 3px;
     padding-bottom: -1px;
     
      
}
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: #1f456e;
     opacity: 1; /* Firefox */
     font-family: 'Titillium Web', sans-serif;
}
.searchbar input:hover{
     cursor: text;
     font-size: 24px;
     transition: 0.2s;
}

.line{
     width: 70%;
     color: grey;
     opacity: 0.8;
 
     
}
 
#socials{
     border: 0px solid #1f456e;
     height:20vh;
     width: 26vw;
     border-radius: 4px;
     background-color: white;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);

}
#socials p{
     font-size: 2.0rem;
     margin: 5px 10px;
     margin-bottom: 10px;
     font-family: 'Titillium Web', sans-serif;
     color: #1f456e;
}
#social_media{
     display: flex;
     height: 50px;
     
}
#social_media a{
     height: 1.5rem;
     width: 1.5rem;
     font-size: 45px !important;;
     margin: auto;
     padding-right: 15px;
     
     color: #1f456e;

}
#social_media a:hover{
     color: #1BA098;
     transition: 0.2s;
}
/* footer */
#foot{
     
     border: 0px solid #1f456e;
     height: 12vh;
     width: 100%;
     margin: auto;
     justify-content: center center;
     text-align: center ;
     font-size: 1.2rem;
     color: white;
     padding-top: 37px;
     background-color: #1f456e;
     /* border-radius: 8px; */
     font-family: 'Titillium Web', sans-serif;
     position: relative;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.7);

     /* bottom: 30px; */
     /* z-index: 10; */
     /* bottom: 60px; */
     
}
/* #051622 #1BA098 #DEB992 */


    


