*{
     padding: 0px;
     margin: 0px;
     /* height: 0px;
     width: 0px; */
     /* right: 0px!important;
     top: 0px!important; */
     /* box-sizing: border-box; */
     
}
/* body{
     margin-top: 0px!important;
     border: 2px solid red;
} */
.containers{
     margin-top: 75px;
     /* width: 100vw!important; */
     /* border: 2px solid red; */
}

#contact_banner{
     /* border: 2px solid black; */
     /* position: absolute; */
     margin-top: 115px;
     height: 20vh;
     width: 100%;
     background-color:  #1BA098 ;
     padding-top: 25px;
     background-color: #f3e5ab ;
}

#contact_banner p{
     text-align: center;
     color: #1f456e;
     font-size: 3.0rem;
     font-family: 'Roboto Slab', serif;
     
}
.cons {
     /* border: 2px solid red; */
     height: 85px;
     width: 100%;
     background-color: #f3e5ab ;
}

.containers h1{
     display: block;
     margin: auto auto;
     text-align: center;
     color: #1f456e;
     /* border: 2px solid black; */
     justify-content: center;
     padding: 28px;
     width: auto;
     font-family: 'Ubuntu', sans-serif;

}
.midsections{
     display: flex;
     /* border: 2px solid green; */
     background-color:  #1BA098 ;
     height: 100vh;
     padding-top: 5vh;
     width: 100%;
     

}
.midsections .myForm{
     height: 60vh;
     width: 100%;
     background-color: #f3e5ab ;
     border-radius: 4px;
     padding-top: 50px;

     
      
}


.midsections #myInput{
      display: flex;
      flex-direction: column;
      margin: 10px 10px;
      width: 500px;
      height: 40px;
      margin: 50px auto;
      font-size: 22px;
      border-radius: 3px;
      padding-left: 20px;
      border: 1px solid #ddd;
      color: #1f456e;
      /* color: white; */
      
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: #1f456e;
     font-family: 'Titillium Web', sans-serif;
}

.midsections  #myButton{
     margin-left: 85px;
     width: 150px;
     height: 40px;
     border-radius: 3px;
} 
.midsections #other_media{
     height: 50vh;
     width: 40%;
     /* border: 2px solid blue; */
     margin: 25px 25px;
     margin-right: 80px;
     border-radius: 4px;
     background-color: #fffff0;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);

}


#form{
     /* border: 2px solid violet; */
     /* margin: 25px 25px; */
     margin: auto;

     /* display: flexbox;
     flex-direction: column; */
     width: 50vw;
     margin-left: 80px;
     padding: 30px 30px;
     border-radius: 4px;
     background-color: #fffff0;
     height: 85vh;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);

     

}

#form h2{
     margin-bottom: 10px;
     color: #1f456e;
     font-weight: bold;
     font-family: 'Bree Serif', serif;
}

#form h3{
     margin-bottom: 4px;
     color: #1f456e;
     font-family: 'Baloo Bhai 2', cursive;
}

#other_media p{
     font-weight: bold;
     font-size: 24px;
     color: #1f456e;
     margin: 30px;
     font-family: 'Titillium Web', sans-serif;
}
 
#other_media a{
     font-size: 24px;
     color: #1f456e;
     padding: 30px;
     padding-top: 0px;
}
#form #myButton{
     border: 2px solid #1f456e ;
     display: block;
     border-radius: 3px;
     background-color: #1f456e;
     outline: none;
     font-family: 'Bree Serif', serif;
     color: white;
     font-size: 18px;
}

#form #myButton:hover{
     cursor: pointer;
     opacity: 0.9;
     transition: 0.4s;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 820px) {
      
     .midsections{
          display: flex;
          flex-direction: column;
          padding: 25px;
          margin: auto;
     }

     #form{
           
          height: auto;
          width: auto;
          margin-left: 0px;
          margin: 20px auto;
     }
     #form .myForm{
           
          height: auto;
          padding-bottom: 30px;
           
     }
     #form form input{
          width: 70vw!important;
           
     }

     #other_media {
           
          width: 100%!important;
          height: auto!important;
          margin: 0px auto !important;
          padding-bottom: 20px;
           
     }
}
@media only screen and (max-width: 500px) {
     .cons h1{
          font-size: 1.4rem;

     }
}

@media only screen and (max-width: 350px) {
     #form form input{
          width: 60vw!important;
          font-size: 1.2rem;
          /* padding: 2px; */
          margin-top: 0px!important;
           
     }
     #form .btn{
          font-size: 1.2rem;
          margin-left: 50px;
           
           
     }
     #form h3{
          font-size: 1.4rem;
     }

      
}

