*{
     padding: 0px;
     margin: 0px;
     /* height: 0px;
     width: 0px; */
     
}
 
.containers{
     margin-top: 75px;
}

#contact_banner{
     /* border: 2px solid black; */
     /* position: absolute; */
     margin-top: 105px;
     height: 20vh;
     width: 100%;
     background-color:  #1BA098 ;
     padding-top: 25px;
     background-color: #f3e5ab ;
}

#contact_banner p{
     text-align: center;
     /* background-color:  #1BA098 ; */
     color: #1f456e;
     font-size: 3.0rem;
     /* margin: 25px; */
     font-family: 'Roboto Slab', serif;
     
}
#contact_banner  #get_started{
     margin: auto;
     color: white;
     padding: 10px;
     width: 150px;
     /* align-items: center; */
     /* justify-content: center; */
     /* align-content: center; */
     border: 2px solid #1f456e ;
     display: block;
     border-radius: 4px;
     background-color: #1f456e;
     outline: none;
     font-family: 'Bree Serif', serif;
     margin-top: 30px;
     box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
     
}



#contact_banner  #get_started:hover{
     border: 1px solid white;
     font-size: 14px;
     cursor: pointer;
     
     
}

.cons {
     /* border: 2px solid red; */
     height: 85px;
     width: 100%;
     background-color: #f3e5ab ;
}

.containers h1{
     display: block;
     margin: auto auto;
     text-align: center;
     color: #1f456e;
     /* border: 2px solid black; */
     justify-content: center;
     padding: 15px;
     width: 500px;
     font-family: 'Ubuntu', sans-serif;

}
#midsections{
     display: flex;
     /* border: 2px solid green; */
     background-color:  #1BA098 ;
     height: 100vh;
     padding-top: 5vh;
     

}
#midsections .myForm{
     height: 60vh;
     width: 100%;
     background-color: #f3e5ab ;
     border-radius: 4px;
     padding-top: 50px;

     
      
}


#midsections #myInput{
      display: flex;
      flex-direction: column;
      margin: 10px 10px;
      width: 500px;
      height: 40px;
      margin: 50px auto;
      font-size: 22px;
      border-radius: 3px;
      padding-left: 20px;
      border: 1px solid #ddd;
      color: #1f456e;
      /* color: white; */
      
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: #1f456e;
     font-family: 'Titillium Web', sans-serif;
}

#midsections  #myButton{
     margin-left: 85px;
     width: 150px;
     height: 40px;
     border-radius: 3px;
} 
#midsections #other_media{
     height: 50vh;
     width: 40%;
     /* border: 2px solid blue; */
     margin: 25px 25px;
     margin-right: 80px;
     border-radius: 4px;
     background-color: #fffff0;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);

}


#form{
     /* border: 2px solid violet; */
     margin: 25px 25px;
     /* display: flexbox;
     flex-direction: column; */
     width: 50vw;
     margin-left: 80px;
     padding: 30px 30px;
     border-radius: 4px;
     background-color: #fffff0;
     height: 85vh;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);

     

}

#form h2{
     margin-bottom: 10px;
     color: #1f456e;
     font-weight: bold;
     font-family: 'Bree Serif', serif;
}

#form h3{
     margin-bottom: 4px;
     color: #1f456e;
     font-family: 'Baloo Bhai 2', cursive;
}

#other_media p{
     font-weight: bold;
     font-size: 24px;
     color: #1f456e;
     margin: 30px;
     font-family: 'Titillium Web', sans-serif;
}
 
#other_media a{
     font-size: 24px;
     color: #1f456e;
     padding: 30px;
     padding-top: 0px;
}
#form #myButton{
     border: 2px solid #1f456e ;
     display: block;
     border-radius: 3px;
     background-color: #1f456e;
     outline: none;
     font-family: 'Bree Serif', serif;
     color: white;
     font-size: 18px;
}

#form #myButton:hover{
     cursor: pointer;
     opacity: 0.9;
     transition: 0.4s;
}
 
