.banners{
     border: 1px solid #fff;
     width: auto;
     height: 15vh;
     background-color: #f3e5ab;
     padding: 10px;
     text-align: center;
     margin-top: 75px;
     margin: 79px 4px 4px 4px;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
     border-radius: 4px;
     /* border: 2px solid red; */

}
.banners p{
     font-size: 20px;
     line-height: 35px;
}

.banners .author p{
     font-size: 20px;
     font-weight: bold;
}

.blogs{
     border: 1px solid #f0ffffe8;
     width: 20vw;
     height: auto;
     background-color:white;
     overflow-x: hidden;
     overflow-y: auto;
     margin: 4px 4px 4px 4px;
     border-radius: 4px;
     /* border: 2px solid red; */
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
     
}

.blogs ul li {
     display: flex;
     flex-direction: column;
}

.blogs ul li a {
      background-color: #fffff0;
      margin: 1px;
      font-size: 18px;
      line-height: 27px;
      text-decoration: none;
      color: black;
      padding: 10px;
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);

}

.content{
     border: 10px solid #f0ffffe8;
     width: 60vw;
     height: auto;
     background-color: white;
     padding: 10px;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.4);
     /* z-index: 1; */
     shape-rendering: auto;
     margin: 4px 4px 4px 4px;
     border-radius: 4px;

}

.para{
     font-size: 20px;
     line-height: 27px;
     /* text-align: justify; */
}

.codes{
     border: 1x solid black;
     background-color: #232931;
     height: auto;
     width: 845px;
     border-left: 6px solid #1BA098 ;
     padding: 10px;
 
}
.codes p{
     color: #1BA098;
}

.outputs{
     border: 1x solid black;
     background-color: #232931;
     height: auto;
     width: 845px;
     border-left: 6px solid #1BA098 ;
     padding: 10px;
 
}
.outputs p{
     color: #1BA098;
}

.socials{
     border: 10px solid #f0ffffe8;
     width: 20vw;
     height: 100vh;
     background-color: white;
     padding: 10px;
     box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
     margin: 4px 4px 4px 4px;
     border-radius: 4px;

}

.outputs img {
     height: 200px;
     width: auto;
}

.socials #about_aside #follows{
      margin-top: 25px;
      color: #1f456e;
     

}


.body{
     display: flex;
}

hr#hr{
 
     width: 55vw;
     opacity: 1.0;
     margin: 0 auto;
     margin-bottom: 20px;
     
   
}

/* MEDIA QUERIES */

@media only screen and (max-width: 850px) {
     .socials{
          display: none;
     }
     .content{
          width: 80vw;
     }
     .codes{
          width: auto;
     }
     .outputs{
          width: auto;
     }
     .outputs img{
          width: auto!important;
          padding: 20px;
     }
     .banners{
          margin-top: 110px;
          height: 150px;
     }
     .body{
          padding: 10px;

     }


}

@media only screen and (max-width: 750px) {
     .outputs img{
          width: 400px!important;
     }
     .blogs{
          width: 100%;
     }
     .blogs a{
          padding: 5px;
     }

}
@media only screen and (max-width: 620px) {
      
     .blogs{
          width: 25vw!important;

     }
     .blogs ul li a{
          font-size: 1.0rem;

     }
     .content{
          width: 75vw;
     }
     .outputs img{
          width: 350px!important;
     }
      

}

@media only screen and (max-width: 515px) {
      
     .blogs{
          width: 25vw!important;

     }
      
     .content{
          width: 70vw;
     }
     .outputs img{
          width: 300px!important;
     }
      

}

@media only screen and (max-width: 560px) {
     .outputs img{
          width: 300px!important;
     }

}

@media only screen and (max-width: 445px) {
     .outputs img{
          width: 250px!important;
          height: 150px;
     }

}
@media only screen and (max-width: 370px) {
     .banners{
          height: 170px;
     }
     .outputs img{
          width: 200px!important;
          height: 120px;
          padding: 30px;
          padding-left: 0px;
     }
     .blogs ul li a{
          font-size: 0.8rem;


     }
     .blogs{
          width: 28vw!important;

     }
     .content{
          width: 67vw;
     }


}
